* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --color-1: #bec5d7;
    --color-2: #fff;
    --color-3: #31291D;
    --color-4: #000;
    --color-5: #3a3a3a;
    --color-6: #444;
    --color-7: #d1d1d1;
    --color-8: #fff;
    --color-9: #f1f3f8;
}

.night-mode {
    --color-1 : #424242;
    --color-2 : #292929 ;
    --color-3 : #fff;
    --color-4 : #fff ;
    --color-5 : #424242;
    --color-6 : #f1f3f8;
    --color-7 : #6d6d6d;
    --color-8 :#000 ;
    --color-9 :#3a3a3a ;
}

body {
    background-color: var(--color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: all 0.5s;
}

#container {
    width: 1300px;
    background-color: var(--color-2);
    min-height: 720px;
    border-radius: 25px;
    margin: 30px auto 0px auto;
    display: flex;
}

#left-title h4 {
    margin-top: 20px;
    font-weight: 500;
    font-family: poppins;
    user-select: none;
    color: var(--color-4);
}

#left-section {
    width: 110px;
    min-height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--color-9);
}

#drop-menu i {
    width: 35px;
    height: 35px;
    background-color: var(--color-3);
    font-size: 20px;
    color: var(--color-8);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 75px;
    cursor: pointer;
}

#menu {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#drop-menu {
    transition: 0.5s;
}

#theme {
    margin: 35px auto;
    transition: 0.3s;
}

#theme i {
    font-size: 30px;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: var(--color-1);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s
}

#plus-icon:active {
    transform: scale(0.9);
}

.rotate {
    transform: rotate(135deg) scale(1.1);
}

.show {
    transform: translateX(0%) !important;
}

.color:active {
    transform: scale(0.6) !important;
}

.color {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 15px;
    overflow: hidden;
    transition: all 0.5s;
}

.color:nth-of-type(1) {
    background-color: #fcbd76;
    transition: 0.3s all linear;
}

.color:nth-of-type(2) {
    background-color: #eb957d;
    transition: 0.4s all linear;
}

.color:nth-of-type(3) {
    background-color: #bbadeb;
    transition: 0.5s all linear;
}

.color:nth-of-type(4) {
    background-color: #bde8ff;
    transition: 0.6s all linear;
}

.color:nth-of-type(5) {
    background-color: #d4e081;
    transition: 0.7s all linear;
}

/* Color's parent */

#colors {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    transition: all linear 0.5s;
    overflow: hidden;
}

#colors>* {
    transform: translateY(-2000%);
}

#right-section {
    width: 1180px;
    min-height: 720px;
}

#right-title {
    margin: 30px 0px 0px 60px;
    user-select: none;
    display: flex;
}

#right-title h2 {
    font-size: 40px;
    font-family: poppins;
    font-weight: 500;
    min-height: 100px;
    color: var(--color-4);

}

#note-list {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    transition: all 0.5s;
}

.note {
    width: 250px;
    height: 250px;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-bottom: 20px;
}

.note textarea {
    outline: none;
    border: none;
    background: transparent;
    resize: none;
    width: 220px;
    height: 180px;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 18px;
    font-family: poppins;
    color: var(--color-5);
}

::placeholder {
    user-select: none;
}

#icons {
    display: flex;
    margin-left: 130px;
}

/* * */
#icons i {
    font-size: 25px;
    border-radius: 50px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    color: var(--color-7);
    transition: 0.3s;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-6);
}

#icons i:active {
    scale: 0.8;
}

#icons i:first-of-type:hover,
#icons i:first-of-type:active {
    color: #29c723;
    background-color: var(--color-3);
}

#icons i:last-of-type:hover,
#icons i:last-of-type:active {
    color: red;
    background-color: var(--color-3);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #8a8a8a;
}

::-webkit-scrollbar-track {
    border-radius: 6px;
}

#alerts {
    margin-left: 200px;
    position: relative;
    margin-top: 1px;
}

.alert {
    font-family: poppins;
    font-size: 20px;
    color: #fff;
    width: 380px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 75px;
    margin-top: 0px;
    transition: all 0.4s;
}

#del-alert {
    background-color: red;
    position: absolute;
}

#save-alert {
    background-color: #5acf56;
}

.hideEl {
    display: none;
}

@media screen and (max-width:1100px) {
    #container {
        width: 1015px;
    }

    #left-section {
        width: 90px
    }

    #right-section {
        width: 950px;
    }

    .note {
        margin-right: 15px;
    }

    #alerts {
        margin-left: 110px;
    }
}

@media screen and (max-width:1066px) {
    #container {
        width: 950px;
    }

    #left-section {
        width: 90px
    }

    #right-section {
        width: 850px;
    }

    .alert {
        width: 360px;
        font-size: 19px;
    }

    .note {
        margin-left: 5px;
        margin-right: 20px;
    }
}

@media screen and (max-width:982px) {
    #container {
        width: 700px;
    }

    #left-section {
        width: 85px
    }

    #right-section {
        width: 600px;
    }

    #alerts {
        margin-left: 40px;
    }

    .alert {
        width: 350px;
        font-size: 18px;
    }

    .note {
        margin-left: 15px;
    }
}

@media screen and (max-width:800px) {
    #container {
        width: 670px;
    }

    #left-section {
        width: 80px
    }

    #right-section {
        width: 600px;
    }

    .note {
        margin-left: 5px;
        margin-right: 25px;
    }
}

@media screen and (max-width:705px) {
    #container {
        width: 650px;
    }

    #left-section {
        width: 80px
    }

    #right-section {
        width: 630px;
    }

    .note {
        width: 230px;
        height: 230px;
    }

    .note textarea {
        width: 200px;
        height: 160px;
    }

    #icons {
        margin-left: 120px;
    }

    #icons>* {
        width: 40px;
        height: 40px;
        font-size: 20px;
        margin-top: -1px;
    }
}

@media screen and (max-width:670px) {
    #container {
        width: 580px;
    }

    #left-section {
        width: 80px
    }

    #right-section {
        width: 600px;
    }

    .note {
        width: 210px;
        height: 210px;
    }

    #alerts {
        margin-left: 10px;
    }

    .alert {
        width: 310px;
        font-size: 17px;
    }

    .note textarea {
        width: 180px;
        height: 140px;
    }

    #icons {
        margin-left: 105px;
    }

    #icons>* {
        width: 30px;
        height: 30px;
        font-size: 15px;
        margin-top: -1px;
    }
}

@media screen and (max-width:610px) {
    #container {
        width: 550px;
    }

    #left-section {
        width: 80px
    }

    #right-section {
        width: 600px;
    }

    .note {
        width: 200px;
        height: 210px;
    }

    .note textarea {
        margin-left: 10px;
        width: 180px;
        height: 140px;
    }

    .alert {
        width: 280px;
        font-size: 15px;
    }

    #icons {
        margin-left: 95px;
    }

    #icons>* {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
}

@media screen and (max-width:575px) {
    #container {
        width: 440px;
    }

    #left-section {
        width: 70px
    }

    #right-section {
        width: 370px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    #right-title {
        height: 100px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .note {
        width: 300px;
        height: 300px;
        margin-left: 15px;
    }

    .note textarea {
        margin-left: 15px;
        width: 260px;
        height: 210px;
    }

    #alerts {
        bottom: 30px;
        right: 30px;
    }

    .alert {
        width: 270px;
        font-size: 15px;
    }

    #icons {
        margin-left: 170px;
    }

    #icons i {
        width: 55px;
        height: 55px;
        font-size: 30px;
    }
}