* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background-color: #bec5d7;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#container {
    width: 1300px;
    background-color: #fff;
    min-height: 720px;
    border-radius: 25px;
    margin: 30px auto 0px auto;
    display: flex;
}

#left-title h4 {
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: 500;
    font-family: poppins;
    user-select: none;
}

#left-section {
    width: 110px;
    min-height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #f1f3f8;
}

#drop-menu i {
    width: 35px;
    height: 35px;
    background-color: #31291D;
    font-size: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 75px;
    cursor: pointer;
}

#drop-menu {
    transition: 0.5s;
}

#plus-icon:active {
    transform: scale(0.9);
}

.rotate {
    transform: rotate(135deg) scale(1.1);
}

.show {
    transform: translateX(0%) !important;
}

.hide:active {
    transform: scale(0.5) !important;
}

.color {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 15px;
    overflow: hidden;
    transition: all 0.5s;
}

.color:active {
    transform: scale(0.7);
}

.color:nth-of-type(1) {
    background-color: #fcbd76;
    transition: 0.3s all linear;
}

.color:nth-of-type(2) {
    background-color: #eb957d;
    transition: 0.4s all linear;
}

.color:nth-of-type(3) {
    background-color: #bbadeb;
    transition: 0.5s all linear;
}

.color:nth-of-type(4) {
    background-color: #bde8ff;
    transition: 0.6s all linear;
}

.color:nth-of-type(5) {
    background-color: #d4e081;
    transition: 0.7s all linear;
}

/* Color's father */

#colors {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    transition: all linear 0.5s;
    overflow: hidden;
}

#colors>* {
    transform: translateY(-2000%);
}

#right-section {
    width: 1180px;
    min-height: 720px;
}

#right-title {
    margin: 30px 0px 0px 60px;
    user-select: none;
    display: flex;
}

#right-title h2 {
    font-size: 40px;
    font-family: poppins;
    font-weight: 500;
    min-height: 100px;
}

#notes {
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    transition: all 0.4s;
}

.note {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    background-color: #bbadeb;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-bottom: 20px;
}

.note textarea {
    outline: none;
    border: none;
    background: transparent;
    resize: none;
    width: 220px;
    height: 180px;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 18px;
    font-family: poppins;
    color: #3a3a3a;
}

#icons {
    display: flex;
    margin-left: 130px;
}

.note i {
    font-size: 25px;
    border-radius:50px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    color: rgb(209, 209, 209);
    transition: 0.4s;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444444;
}

.note i:active {
    scale:0.8;
}

.note i:first-of-type:hover{
    color:#29c723;
    background-color: #31291D;
}

.note i:last-of-type:hover{
    color:red;
    background-color: #31291D;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgb(116, 116, 116);
}

::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color:rgb(219, 219, 219) ;
}

#alerts {
    margin-left: 200px;
    position: relative;
    margin-top: 1px;
}

.alert {
    font-family: poppins;
    font-size: 20px;
    color: #fff;
    width: 380px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 75px;
    margin-top: 0px;
    transition: all 0.4s;
}

#del-alert {
    background-color: red;
    position: absolute;
}

#save-alert {
    background-color: #5acf56;
}

.hideEl {
    display: none;
}